* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#wrapper {
    background-color: rgb(20, 20, 70);
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    background-color: rgb(20, 20, 70);
}

.vehikl {
    display: flex;
}

.vehikl img {
    height: 40px;
    width: 167px;
}

.list a {
    color: aliceblue;
    text-decoration: none;
    padding: 8px;
    font-size: 14PX;

}

.web h3 span {
    color: orangered;
}

.web h1 {
    line-height: 1;
    padding-bottom: 30px;
}

.web {
    text-align: center;
    height: 700px;
    color: aliceblue;
    font-size: 31px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.web {
    background-image: url(images/group.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
    top: 0px;
}

.web::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 70, 0.601);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.web button {
    border: 1px solid;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 199, 0);
    color: white;
}

/*========================(what)===================*/
.what {
    text-align: center;
    padding-top: 100px;
    color: white;

}

.line {
    display: flex;
    align-items: center;
    justify-content: center;

}

.line2 {
    border: 2px solid orangered;
    width: 50px;
}

.what p {
    padding: 15px 477px;

}

.appimg img {
    height: 340px;
    width: 570px;

}

.app {
    display: flex;
    justify-content: space-between;

}

.app {
    color: white;
    padding: 100px 152px;
}

.aap p {
    color: rgba(20, 20, 70, 0.601)
}

.clients {
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 200px 500px 100px 500px;
}

.clients p {
    color: rgba(246, 223, 223, 0.682);
    padding-top: 10px;
}

.bankrate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.bankrate img {
    border: 1px solid rgba(128, 128, 128, 0.274);
    margin-bottom: 65px;
    filter: brightness(0) invert(1);
    object-fit: contain;
    height: 210px;
    width: 220px;
    padding: 20px;
}

.community {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.community p {
    color: rgba(red, green, blue, alpha);
    padding: 10px 500px;
}

.lara {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    line-height: 2;
    padding: 50px 0 200px 0;
}

.advisors {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-bottom: 200px;
}

.l2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.founders a {
    color: orangered;
    text-decoration: none;
}

.taylor {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.founders {
    border: 1px solid rgba(211, 211, 211, 0.488);
    padding: 40px 150px;
    margin-top: 50px;
    line-height: 2;
}

.host {
    padding-top: 200px;
    text-align: center;
    color: white;
    padding: 0 400px;
}

.GPUG {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 50px;
    padding: 100px;
}

.box img {
    height: 160px;
    width: 290px;
    border: 1px solid;
    padding: 38px;
    object-fit: contain;
    margin-bottom: 15px;
    background-color: rgba(79, 79, 116, 0.715);
}

.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid;
    padding: 30px;
    height: 500px;
    width: 355px;
}

.box .line2 {
    margin-bottom: 20px;
}

.box p {
    padding-bottom: 20px;
}

.box a {
    color: orangered;
    text-decoration: none;
}

.sound {
    border: 1px solid grey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 150px 450px;
}

.sound .line2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vehikl2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    color: white;
}
.vehikl2 img{
    height: 40px;
    width: 167px;
}

.logo img {
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
